
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: rgb(107, 44, 196); */
    background: linear-gradient(rgba(255, 185, 43, 0.4), rgba(255, 135, 195, 0.3));
}
.page{
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    /* background-color: rgb(194, 133, 53); */
}
.page-title{
    align-self: center; 
    font-size: 44px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    color: #ffb92b;
}

.video-container {
    position: absolute;
    margin-top: 0vh;
    left: 0%;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    transition: all 0.3s ease;
  }

video { 
    object-fit: cover;
    width: 100%;
    height: 100%;
}
video-container:hover { 
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    color: #ffb92b;
    z-index: 3;
}